* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.content {
    padding: 60px;
}

.hero {
    width: 100%;
    padding: 100px 0px;
    background-image: linear-gradient(
            to bottom,
            rgba(70, 140, 0, .5),
            rgba(70, 140, 0, .5)
        ),
        url("../images/small.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.hero.loaded {
    opacity: 1;
}

@media all and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                to bottom,
                rgba(70, 140, 0, .5),
                rgba(70, 140, 0, .5)
            ),
            url("../images/medium.jpg");
    }
}

@media all and (min-width: 960px) {
    .hero {
        background-image: linear-gradient(
                to bottom,
                rgba(70, 140, 0, .5),
                rgba(70, 140, 0, .5)
            ),
            url("../images/large.jpg");
    }
}

.hero h1 {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
